@use '../../SassUtil/index' as u;
.project-container {
	// border: solid red 2px;
}
.project-heading h2,
.project-filter {
	padding-bottom: u.toRem(30);
	// border: solid blue 2px;
}

.project-filter span {
	// margin-right: u.toRem(20);
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
	border: white;
	transition: all 0.4s;
}
.project-filter span {
	border-left: 1px solid;
	border-right: 1px solid;
}
.project-filter span:hover {
	transition: all 0.3s ease-out;
	border-bottom: 0.75px solid #64e2b5;
	// background-color: red;
}
.project-display {
	// padding: u.toRem(50);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: u.toRem(20);
	@media (min-width: 684px) {
		width: 100%;
		margin: auto;
		padding: u.toRem(50);
		flex-direction: row;

		flex-wrap: wrap;
	}
}
