<<<<<<< HEAD
=======
@use '../../SassUtil/index' as u;

.projectCard {
	border-radius: u.toRem(5);
	position: relative;
	display: flex;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	height: u.toRem(300);
	width: 80%;
	@media (min-width: 584px) {
		width: 75%;
		// max-width: 30%;
	}
	@media (min-width: 768px) {
		width: 32%;
		// max-width: 30%;
	}
}
.project-img {
	border-radius: u.toRem(5);

	object-fit: cover;
	width: 100%;

	height: 100%;
}

.projectCard-content {
	border-radius: u.toRem(5);

	color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	// margin: auto auto auto auto;

	background-color: rgba(38, 36, 55, 0.7);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	// border: solid blue 3px;
	p {
		margin: 0 0 0 0;
		align-self: center;
		// margin: auto;
	}
	h4 {
		font-size: 1.75rem;
	}
}

.tech-container {
	margin: u.toRem(20) 0;
}
.tech-icons {
	display: flex;
	justify-content: center;
	gap: u.toRem(20);
	list-style: none;
	padding: u.toRem(10) 0;
}

.projectCard-btn-contianer {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 100%;
	margin-top: u.toRem(20);
}
.projectCard-btn-contianer button {
	max-width: u.toRem(150);
	min-width: u.toRem(85);
	width: 100%;
	@media (min-width: 635px) {
		// font-size: larger;
		// width: u.toRem(90);
	}
}
>>>>>>> 4fd1fdaef3ddd1bce8fb2944e68c746c6206a9ce
