@use '../../SassUtil/index' as u;
.slide-show-container {
	align-self: center;
}
.slide-icons-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	margin-top: u.toRem(30);
	// border: solid green 2px;
}

.slide-icons-container img {
	height: 50px;
	width: 50px;
}
