@use '../../SassUtil/index' as u;
.slide-icons-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	gap: 1.7rem;
	// max-width: 70%;
	width: u.toRem(275);

	margin: auto;
	margin-top: 1.7rem;
}
