@use '../../SassUtil/index' as u;
#about {
	max-width: 1150px;

	position: relative;
	padding-top: u.toRem(200);

	// padding-left: u.toRem(5);
	// padding-right: u.toRem(5);

	.animated-slice {
		color: rgb(110, 231, 183);
		display: inline-block;

		// width: 50%;
	}
	h2 {
		position: relative;
		z-index: 100;
	}
	.about-image {
		// filter: gray;
		// mix-blend-mode: overlay;
		z-index: -1;
		// border-radius: 100px;
		// aspect-ratio: 1/1;
		object-fit: contain;
		max-width: 19.8125rem;
		width: 100%;
		// height: 19.8125rem;
		left: -150px;
		top: 0px;
		position: absolute;
		@media (min-width: u.toRem(1272)) {
			left: -250px;
			top: 0px;
		}
		a {
			width: 100%;
		}
	}
}

.about-btn-container {
	display: flex;
	gap: 10px;
	flex-direction: column;
	// max-width: 50%;
	// justify-content: center;
	max-width: u.toRem(476.54);
	margin: auto;
	margin-top: u.toRem(30);

	@media (min-width: u.toRem(768)) {
		flex-direction: row;
		justify-content: center;
	}
	a {
		flex: 1;
	}
	.about-btn {
		width: 100%;
		// flex: 1;
	}
}
.about-secondary-content {
	margin-top: u.toRem(50);
}
