@use '../../SassUtil/index' as u;
.Navbar {
	// display: none;
	height: u.toRem(80);
	color: white;
	position: fixed;
	top: 0;
	width: 100%;

	background: linear-gradient(
		180deg,
		#1c1c1c 0%,
		#000000 100%
	);
}

.logo {
	border-radius: 100%;
	width: 60px;
	min-height: 60px;
	// border: #1c1c1c double;
	border: double rgb(149, 144, 144) 10px;
}
