@use '../../SassUtil/index' as u;
.skills-container {
	// padding-top: u.toRem(110);
	// padding-bottom: u.toRem(50);
	// @media (min-width: 768px) {
	// 	margin-top: u.toRem(150);
	// }
}
.skill-content {
	// border: solid red 1px;
	min-height: 45vh;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	margin-top: u.toRem(30);

	@media (min-width: 768px) {
		margin-top: u.toRem(50);
	}
}
.skill-image {
	margin-top: u.toRem(30);
	width: u.toRem(151);
	// height: u.toRem(100);
	// border: solid red;
}
svg {
	cursor: pointer;
	width: u.toRem(40);
	height: u.toRem(40);
	@media (min-width: 684px) {
		width: u.toRem(50);
		height: u.toRem(50);
	}
}
.slideshow-cnt {
	// max-width: 50%;
}
// .skill-data-container {
// 	margin-top: u.toRem(30);
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-around;
// 	gap: 25px;
// }
