@use '../../SassUtil/index' as u;
.skills-container {
	border: solid red;
	min-height: 100%;
	// padding-bottom: u.toRem(50);
}
.skill-content {
	display: flex;
	// flex-direction: column;
	align-items: center;
	justify-content: space-around;
	// border: solid red;
}
.skill-image {
	margin-top: u.toRem(30);
	width: u.toRem(151);
	// border: solid red;
}
svg {
	cursor: pointer;
	margin-top: u.toRem(-150);
}
.skill-data-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 25px;
}
