@use './SassUtil/index' as u;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './global';
@import './comp/index';
@import './sections/index';

.section {
	// border: solid red 4px;

	// max-width: 1150px;
	width: 100%;
	// min-height: 100vh;
	padding-top: 80px;
	padding-left: 15px;
	padding-right: 15px;

	text-align: center;
	color: white;
	margin: auto;
	margin-bottom: 40px;
}
